.header{
    background-color: var(--lightblue);
    align-content: center;
    justify-content: center;
}

#profilBtn{
    height: 40px;
    width: 40px;
    align-content: end;
}


.idagGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.task2{
    background-color: var(--yellow50percent);
    height: 76px;
    width: 20%;
    margin: 20px;
}

.task {
    background-color: var(--yellow50percent);
    font-size: 15px;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    cursor: pointer;

    display: grid;
    grid-template-columns: 54px 1fr ;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
"box-1 box-2"
"box-1 box-3"
}
.taskFlex{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.progressBarElement {
    margin: 16px;
    position: relative;
    width: 300px; /* eller hvad din progress bar er bred */
}

.progressBarElement label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress progress {
    width: 100%;
    display: block;
}

/*#progressBar{
    height: 50px;
    color: var(--orange);
}*/

progress {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden; /* sikrer at udfyldningen ikke "stikker ud" over afrundingen */
}

progress::-webkit-progress-bar {
    background-color: var(--yellow50percent);
}

progress::-webkit-progress-value {
    background-color: var(--darkblue);
    border-radius: 10px;
}

progress.newColor::-webkit-progress-value {
    background-color: var(--orange); /* eller en anden farve, du ønsker ved "færdig" */
}

progress.newColor::-moz-progress-bar {
    background-color: var(--orange);
}


.header_card{
    font-size: 15px;
    background: var(--lightblue);
    border-radius: 20px;
    padding: 24px 30px;
    margin: 0 12px 20px;
    margin-top: 3rem;
    width: 322px;
    height: 150px;
}

.task{
    width: 322px;
    height: 60px;
    border-radius: 10px;
    background: #FFE4AA;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block: 30px;

}