/* ===== fonts ===== */
h1{
    color: var(--darkblue);
    font-family: "Ancizar Serif";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
}

h2{

    color: var(--darkblue);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 90;
    line-height: 150%;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header_card{
    font-size: 15px;
    background: var(--lightblue);
    border-radius: 20px;
    padding: 10px 0px;
    margin: 10px 12px 20px;
    /*margin-top: 3rem;*/
    width: 322px;
    height: 150px;
}

#datoFelt{
    display: flex;
    width: 210px;
    height: 34px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow10percent);
}

#profilBtn{
    display: flex;
    width: 322px;
    justify-content: flex-end;
}

.mid-section{
    border-radius: 20px;
    padding: 10px 0px;
    margin: 0px 12px 20px;
    width: 322px;
    height: 64px;
}
.switch {
    display: block;
    margin: 0 auto;
}


.idagGrid{
    width:100%;
    display: flex;
    justify-content: space-between;
}


.task {
    background-color: var(--yellow50percent);
    width: 322px;
    height: 60px;
    font-size: 15px;
    border-radius: 12px;
    padding: 10;
    cursor: pointer;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 54px 1fr ;
    grid-template-rows: 1fr 1fr;
    align-items: center;



    grid-template-areas:
"box-1 box-2"
"box-1 box-3"
}
.task img {
    justify-self: center;
}

.taskFlex{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.taskHeader{
    font-size: 15px;
    color: var(--brown);
}

.taskDetails{
    font-size: 12px;
    color: var(--brown50percent);
}


.bottom-secton{
    width: 322px;
    height: 39px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressBarElement {
    margin: 20px;
    position: relative;
    width: 263px;
    height: 20px;
}

.progressBarElement label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress progress {
    width: 100%;
    display: block;
}

progress {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 263px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden; /* sikrer at udfyldningen ikke "stikker ud" over afrundingen */
}

progress::-webkit-progress-bar {
    background-color: var(--yellow50percent);
}

progress::-webkit-progress-value {
    background-color: var(--darkblue);
    border-radius: 10px;
}

progress.newColor::-webkit-progress-value {
    background-color: var(--orange); /* eller en anden farve, du ønsker ved "færdig" */
}

progress.newColor::-moz-progress-bar {
    background-color: var(--orange);
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block: 30px;

}