/* ===== Header ===== */

body{
    font-size: 13px;
}
#header-row {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
}

/* ===== dato og tidspunkt ===== */
.to-felter-raekke {
    display: flex;
    gap: 8px;
}

.to-felter-raekke .field {
    flex: 1;
}

/* ===== fields ===== */

.field{
    padding-block: 8px;
    display: flex;
    flex-direction: column;
    color: var(--brown);

}
.input{
    display: grid;
}


label{
    padding-bottom: 8px;
    color: var(--brown);
}

/* ===== kategori ===== */

.category{
    background-color: var(--white);
    border: var(--border-color);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    padding: 10px;
    color: var(--brown);
}
.category:hover{
    background-color: var(--orange);
    color: var(--white);
}

input, select {
    color: var(--brown);
}
.btn{
    margin-block: 20px;
}


#btn-tilbage {
    background: none;
    border: none;
    color: var(--brown);
    padding: 0;
    cursor: pointer;
    margin-left: -15px;
}

#btn-tilbage svg {
    width: 24px;
    height: 24px;
}
#toggle-arves {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

