<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dahboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/toggle.css">
    <link rel="stylesheet" href="css/dashboardStyle.css">
    <script src="js/dashboard.js" defer></script>
</head>
<body>
<div class="app-container">
    <main>

        <div id="profilBtn" class="btn_circle">
            <a href="#"><img src="svg/profile-icon.svg" alt="Profil"></a>
        </div>

        <!-- header -->
        <div class="header_card">
            <div class="header">
                <h1>Velkommen</h1>
                <h2 th:text="${user.firstName}">Fornavn</h2>
                <div id="dato-box">dato felt</div>
            </div>
        </div>

        <!-- mid section - toggle + dagen + ugen -->
        <div class="toggleSection">
        <label class="switch switch--wide">
            <input type="checkbox" id="vidergives" name="vidergives">
            <span class="slider"></span>
            <span class="switch-label switch-label--left">Mig</span>
            <span class="switch-label switch-label--right">Alle</span>
        </label>
        </div>
        <div class="idag-ugen">
            <p>I dag</p>
            <a href="">Se hele ugen</a>
        </div>

        <!-- tasks -->
        <div class="taskFlex">
            <div class="task" th:each="task : ${user.tasks}">
                <img style="grid-area: box-1" src="svg/person-icon-orange.svg">
                <p class="taskHeader" th:text="${task.title}" style="grid-area: box-2">button header</p>
                <p class="taskDetails" th:text="${task.description}" style="grid-area: box-3">button details</p>
            </div>


        </div>

        <!-- bottom section -->
        <div class="bottomSection">
            <div class="progressBarElement">
                <label for="progressBar">0/0</label>
                <progress id="progressBar" value="" max=""></progress>
            </div>

            <div id="btn-plus">
                <a href="opret-opgave.html">
                    <img src="svg/plusknap.svg" alt="knap" class="btn_circle">
                </a>
            </div>
        </div>

    </main>

    <!-- footer menu -->
    <footer>
        <a href="dashboard.html" class="nav-item active">
            <img src="svg/nav1.svg" alt="">
            <span>Hjem</span>
        </a>
        <a href="husstand.html" class="nav-item">
            <img src="svg/nav2.svg" alt="">
            <span>Husstand</span>
        </a>
        <a href="point.html" class="nav-item">
            <img src="svg/nav3.svg" alt="">
            <span>Point</span>
        </a>
        <a href="reminders.html" class="nav-item">
            <img src="svg/nav4.svg" alt="">
            <span>Reminders</span>
        </a>
    </footer>
</div>
</body>
</html>